[phases.setup]
nixPkgs = ["nodejs-18_x", "npm-9_x"]

[phases.install]
cmds = [
  "npm install --production --no-audit --no-fund",
  "cd client && npm install --no-audit --no-fund"
]

[phases.build]
cmds = ["cd client && npm run build"]

[start]
cmd = "node server.js"

[variables]
NODE_ENV = "production"
NPM_CONFIG_PRODUCTION = "false"
